:root {
  --text-second: #cfcfcf;
  --text-main: #fff;
  --text-third: #403c3b;
  --bg-second: #504b4a;
  --bg-accent: #618967;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
*,
h1{
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}
body {
  font-family: 'Gilroy', sans-serif;
  background: linear-gradient(360deg, #211f20 0%, #44403f 100%);
  color: var(--text-main);
  position: relative;
  min-width: 320px;
  &.no-scroll{
    overflow: hidden;
  }
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 95%;
  max-width: 1270px;
  margin: 0 auto;
}
button {
  color: var(--text-main);
  background: transparent;
  border: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}

.section-title{
  font-size: 32px;
  padding-left: 22px;
  position: relative;
  line-height: 1;
  span{
    color: #72A479;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;

  }
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3.3px;
    height: 100%;
    background: var(--bg-accent);
  }
}